<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bustomóviles{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{url_for ('static', filename='assets/images/icon.png') }}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='assets/css/style-starter.css') }}">
    <style>
      .slidecontainer {
        width: 100%;
      }
      
      .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #4CAF50;
        cursor: pointer;
      }
      </style>
  </head>
  <body>


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row">
		<div class="social-top col-lg-3 col-6">
			<li>Síguenos</li>
			<li><a href="https://instagram.com/mazda3jb"><span class="fa fa-instagram"></span></a></li>
			<li><a href="https://github.com/bu5to"><span class="fa fa-github"></span></a> </li>
		</div>
		<div class="accounts col-lg-9 col-6">
        <li class="top_li"><span class="fa fa-mobile"></span><a href="tel:+34 943 999 999">+34 943 999 999</a> </li>
        {% if current_user.is_anonymous %}
        <li class="top_li1"><span class="fa fa-user"></span><a href="{{ url_for('login')}}">Iniciar sesión</a></li>
				<li class="top_li2"><a href="{{ url_for('show_signup_form') }}">Registrarse</a></li>
        {% else %}
        <li class="top_li1"><span class="fa fa-user"></span>Hola, {{ current_user.name }}</li>
				<li class="top_li2"><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
        {% endif %}
				
		</div>
		
	</header>
</div>
</div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <!-- <a class="navbar-brand" href="index.html"><span class="fa fa-home"></span> Estate Agent</a> -->
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{url_for ('static', filename='assets/images/bustomoviles.png') }}" alt="Bustomoviles" title="Bustomoviles" style="height:35px;" />
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Compra</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="services.html">Vende</a>
          </li>
        
          <li class="nav-item mr-0">
            <a class="nav-link" href="contact.html">Contacta con nosotros</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
</section>
{% block content %}  {% endblock %}
<section class="w3l-footer-29-main" id="footer">
    <div class="footer-29">
      <div class="grids-forms-1 pb-5">
  <div class="container">
    <div class="grids-forms">
        <div class="main-midd">
            <h4 class="title-head">Newsletter – Get Updates & Latest News</h4>
            
        </div>
        <div class="main-midd-2">
            <form action="#" method="post" class="rightside-form">
                <input type="email" name="email" placeholder="Enter your email">
                <button class="btn" type="submit">Subscribe</button>
            </form>
        </div>
      </div>
    </div>
    </div>
        <div class="container pt-5">
          
            <div class="d-grid grid-col-4 footer-top-29">
                <div class="footer-list-29 footer-1">
                    <h6 class="footer-title-29">About Us</h6>
                    <ul>
                       <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                    </ul>
                    <div class="main-social-footer-29">
                      <h6 class="footer-title-29">Social Links</h6>
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-2">
                    <ul>
                        <h6 class="footer-title-29">Useful Links</h6>
                        <li><a href="services.html">Management</a></li>
                        <li><a href="services.html">Reporting</a></li>
                        <li><a href="services.html">Tracking</a></li>
                        <li><a href="services.html">All Users</a></li>
                        <li><a href="contact.html">Support</a></li>
                    </ul>
                </div>
                <div class="footer-list-29 footer-3">
                    <div class="properties">
                        <h6 class="footer-title-29">Featured Properties</h6>
                        <a href="#"><img src="assets/images/g7.jpg" class="img-responsive" alt=""><p>We Are Leading International Consultiing Agency</p></a>
                        <a href="#"><img src="assets/images/g8.jpg" class="img-responsive" alt=""><p>Digital Marketing Agency all the foundational tools</p></a>
                        <a href="#"><img src="assets/images/g9.jpg" class="img-responsive" alt=""><p>Doloremque velit sapien labore eius itna</p></a>
                    </div>
                </div>
                <div class="footer-list-29 footer-4">
                    <ul>
                        <h6 class="footer-title-29">Quick Links</h6>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="#"> Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-copies text-center">
                <p class="copy-footer-29">© 2020 Estate Agent. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
                 
            </div>
        </div>
    </div>
     <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
                   </button>
                   <script>
                       // When the user scrolls down 20px from the top of the document, show the button
                       window.onscroll = function () {
                           scrollFunction()
                       };
                
                       function scrollFunction() {
                           if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                               document.getElementById("movetop").style.display = "block";
                           } else {
                               document.getElementById("movetop").style.display = "none";
                           }
                       }
                
                       // When the user clicks on the button, scroll to the top of the document
                       function topFunction() {
                           document.body.scrollTop = 0;
                           document.documentElement.scrollTop = 0;
                       }
                   </script>
                   <!-- /move top -->
  </section>
  <!-- // grids block 5 -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <!-- //footer-28 block -->
  </section>
  
  <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  
  <!-- Smooth scrolling -->
  
  
  </body>
  
  </html>