{% extends 'base.html' %} {% block title %} - Vende tu coche {% endblock %}{% block content %}


<section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3">

      <h2>Contacta con nosotros</h2>

	 </div>
  </div>
</section>
<!-- contact form -->
<section class="w3l-contacts-2" id="contact">
	<div class="contacts-main">
		
		<div class="form-41-mian py-5">
			<div class="container py-md-3">
        <h3 class="cont-head">Déjanos tu sugerencia</h3>
        <h6>Recuerda ser constructivo y no utilizar lenguaje soez.</h6>
				<div class="d-grid align-form-map">
					<div class="form-inner-cont">
						<form action="/enviar" method="POST" class="main-input">
							<div class="top-inputs d-grid">
								<input type="text" placeholder="Nombre y apellidos" name="nombre" id="w3lName" required="">
								<input type="email" name="email" placeholder="Correo electrónico" id="w3lSender" required="">
							</div>
							<textarea placeholder="Mensaje" onchange="filtro()" id="mensaje" name="mensaje" required=""></textarea>
							<label for='copia'>¿Deseas recibir una copia por correo electrónico?</label>
							<select name='copia'>
								<option name="Sí" value="Sí">
									Sí
								</option>
								<option name="No" value="No">
									No
								</option>
							</select>
							<div class="text-right">
								<button type="submit" class="btn btn-theme3" onclick="filtro()">Enviar</button>
              </div>
              <script>
                function filtro() {
                  var mensaje = document.getElementById("mensaje").value;
                  var lengSoez = ["puta", "puto", "mierda", "gilipollas", "subnormal", "asco", "polla", "coño", "capullo", "cabrón"];
                  for (i in lengSoez){
                    let palabra = lengSoez[i]
                    if (mensaje.includes(palabra)){
                      alert("NOTA: No utilices lenguaje soez. Aceptamos críticas constructivas, no destructivas.")
                    }
                  }
                }
                </script>
						</form>
					</div>
					
					<div class="contact-right">
						<img src="assets/images/ab-2.jpg" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="contant11-top-bg py-5">
			<div class="container py-md-3">
				<div class="d-grid contact section-gap">
					<div class="contact-info-left d-grid text-center">
						<div class="contact-info">
							<span class="fa fa-location-arrow" aria-hidden="true"></span>
							<h4>Estamos en...</h4>
							<p>Paseo del Duque de Baena, 999, 20009 San Sebastián</p>
						</div>
						<div class="contact-info">
							<span class="fa fa-phone" aria-hidden="true"></span>
							<h4>Llámanos</h4>
							<p><a href="tel:+34 943 999 999">+34 943 999 999</a></p>
						</div>
						<div class="contact-info">
							<span class="fa fa-envelope-open-o" aria-hidden="true"></span>
							<h4>Escríbenos</h4>
							<p><a href="mailto:info@bustomoviles.com" class="email">info@bustomoviles.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="map">
            <iframe src="https://maps.google.com/maps?q=paseo%20del%20duque%20de%20baena&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
</section>
<!-- //contact form -->
 

<!-- // grids block 5 -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>

<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

<!-- Smooth scrolling -->
{% endblock %}

