{% extends 'base.html' %} {% block title %} - Vende tu coche {% endblock %}{% block content %}


<section class="w3l-contact-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4" style="background-image: url('https://cdn.motor1.com/images/mgl/jQ4vo/s1/handshake-of-car-buyer-and-salesman-who-is-handing-over-the-keys.jpg');">
    <div class="container py-lg-3">
      <h2>Vende tu coche</h2>
	 </div>
  </div>
</section>
<!-- contact form -->
<section class="w3l-contacts-2" id="contact">
	<div class="contacts-main">
		
		<div class="form-41-mian py-5">
			<div class="container py-md-3">
        <h3 class="cont-head">Datos del coche a vender</h3>
				<div class="d-grid align-form-map">
					<div class="form-inner-cont">
						<form action="/vender" method="POST" class="main-input">
							<div class="top-inputs d-grid">
								<select name="marcaselect" id="marcaselect" class="form-control">
									<option disabled selected>Selecciona una marca</option>
									{% for m in marcas %}
									<option>{{ m }}</option>
									{% endfor %}
									<option>Otro</option>
								</select>
								<select name="paisselect" id="paisselect" class="form-control">
									<option disabled selected>Selecciona un país</option>
									{% for p in paises %}
									<option>{{ p }}</option>
									{% endfor %}
									<option>Otro</option>
								</select>
								<script>
									$("#marcaselect").on("change", function () {
									  var value = $(this).val();
									  console.log(value);
									  if (value == "Otro"){
											$("#marcaselect").hide();
											$("#paisselect").hide();
											$("#pais").show();
											$("#marca").show();
										};
									});
									$("#paisselect").on("change", function () {
									  var value = $(this).val();
									  console.log(value);
									  if (value == "Otro"){
											$("#marcaselect").hide();
											$("#paisselect").hide();
											$("#pais").show();
											$("#marca").show();
										};
									});
							  	</script>
								<input type="text" placeholder="Marca" name="marca" id="marca" style="display: none">
								<input type="text" placeholder="País de la marca" name="pais" id="pais" style="display: none">
								<input type="text" placeholder="Modelo" name="modelo" id="modelo" required="">
								<input type="number" placeholder="Año" name="anyo" id="anyo" required="">
								<input type="text" placeholder="Combustible" name="combustible" id="combustible" required="">
								<input type="number" placeholder="Potencia" name="potencia" id="potencia" required="">
								<input type="number" placeholder="Kilómetros" name="kilometros" id="kilometros" required="">
								<input type="number" placeholder="Precio" name="precio" id="precio" required="">
								<input type="text" placeholder="Imagen (URL)" name="img" id="img" required="">
								<select id="ciudad" name="ciudad" class="form-control">
									<option>Donostia</option>
									<option>Bilbao</option>
									<option>Vitoria</option>
								</select>
							</div>
							<textarea placeholder="Descripción" id="descripcion" name="descripcion" required=""></textarea>
							<div class="text-right">
								<button type="submit" class="btn btn-theme3">Vender</button>
              </div>
		</form>
		
					</div>
					
					<div class="contact-right">
						<img src="assets/images/ab-2.jpg" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
</section>
<!-- //contact form -->
 

<!-- // grids block 5 -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>

<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

<!-- Smooth scrolling -->
{% endblock %}

